*{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    box-sizing: border-box;
}

.container{
    width: 80%;
    height: 100vh;
    position: relative;
    margin: auto;
}
.container nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #a1a1ad;
    height: 100px;
}
.container nav .nav-links{
    display: flex;
    align-items: center;
}
.container nav .nav-links a{
    margin-right: 35px;
    text-decoration: none;
    color: #333;
    font-weight: 600px;
    font-size: 14px;
    line-height: 100px;
    position: relative;
}
.container nav .nav-links a::after{
    position: absolute;
    content: '';
    bottom: 0;
    left: 0;
    height: 2px;
    width: 0%;
    background-color:#4378f4 ;
    transition: 0.3s;
}
.container nav .nav-links a:hover::after{
    width: 100%;
}
.search{
    margin-left: 50px;
    width: 250px;
    height: 40px;
    position: relative;
}
.search input{
    width: 100%;
    height: 100%;
    padding: 0 10px;
    font-size: 14px;
    outline: none;
    border-radius: 50px;
}
.search i{
    position:absolute ;
    top: 50%;
    right: 10px;
    transform: translateY(-50%);
    cursor: pointer;
    color: #333;
}
.content{
    position: absolute;
    top: 50%;
    left: 0%;
    transform: translateY(-50%);
    display: flex;
    justify-content: space-between;
    align-items: center;

}
.content .text{
    width: 40%;
}
.content .text span{
    font-size: 18px;
    color: #1d1d1dff;
    letter-spacing: 2px;
}
.content .text h1{
    color: #222;
    font-size: 60px;
    padding: 30px 0 100px;
}
.content .text .btn{
    text-decoration: none;
    color: #fff;
    background-color: #4378f4;
    padding: 20px 30px;
    border-radius: 5px;
}
.content .big-img{
    width: 60%;
}
.content .big-img img{
    width: 800px;
}
.small-car{
    display: flex;
    position: absolute;
    bottom: 30px;
    left: 50%;
    transform: translateX(-50%);
}
.small-car img{
    width: 120px;
    position: relative;
    cursor: pointer;
    transition: .3s;
    transform: scale(1.2);
}
.small-car img:hover{
    transform: scale(1.5);
}